@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap");



html, body {
  font-family: Open Sans;
  color: #999999;
  background-color: #00001a;
  margin: 0px;
  padding: 0px;
}

.nav ul {
  margin: 0px;
}

.nav li {
  display: inline;
}

.nav a {
  display: inline-block;
  padding: .5em;
  text-decoration: none;
  color: #ffffff;
}

.nav a:hover {
  background-color: rgb(61, 61, 92, 0.3);
}

.main-nav {
  text-align: center;
  font-size: 125%;
  border-bottom: 1px solid;
}

.main-nav li {
  padding: 0 5%;
}

.main-header {
  background-image: url("images/Coldplay background2.jpg");
  background-size: 100% 100%;
  padding-bottom: 100px;

}

.band-name {
  text-align: center;
  margin: 0px;
  font-size: 1.5em;
  font-family: 'Alfa Slab One', cursive;
  color: #ffffff;
}

.band-name-large {
  font-size: 4em;
}

.content-section {
  margin: 1em;
}

.container {
  max-width: 900px;
  margin: 0 auto;
  padding: 0 1.5em;
}
