@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap");

@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap');

html, body {
  font-family: Open Sans;
  color: #e6e6e6;
  background-color: #000000;
  line-height: 1.5;
  margin: 0px;
  padding: 0px;
}

.nav-logo {
  background-image: url("images/Coldplay logo.webp");
  background-size: 30px;
  background-repeat: no-repeat;
}

.nav ul {
  margin: 0px;
}

.nav li {
  display: inline;
}

.nav a {
  display: inline-block;
  padding: .5em;
  text-decoration: none;
  color: #ffffff;
}

.nav a:hover {
  background-color: rgb(61, 61, 92, 0.3);
}

.main-nav {
  text-align: center;
  font-size: 125%;
  border-bottom: 1px solid;
}

.main-nav li {
  padding: 0 5%;
}

.main-header {
  background-image: url("images/Coldplay background2.jpg");
  background-size: 100% 100%;
  padding-bottom: 100px;
  border-bottom: 1px solid;
  filter: brightness(95%);
}

.band-name {
  text-align: center;
  margin-top: 40px;
  font-size: 1.5em;
  font-family: 'Alfa Slab One', cursive;
  color: #ffffff;
}

.band-name-large {
  font-size: 4em;
  margin: 0px;
}

.section-content {
  margin: 1em;
  background-color: #00001a;
  border: 1px solid;
  border-color: #00001a;
}

.container {
  max-width: 900px;
  margin: 0 auto;
  padding: 0 1.5em;
}

.section-header {
  font-family: 'Bree Serif', serif;
  text-align: center;
  margin-top: 40px;
}

.about-band-image {
  float: left;
  height: 200px;
  width: 200px;
  margin: 15px;
  border-radius: 50%
}

.main-footer-nav {
  background-color: #330011;
  padding: .1em 0;
  text-align: center;
  border-top: 1px solid;
}

.main-footer-nav li {
  padding: 0 5%;
}

.btn {
  text-align: center;
  vertical-align: middle;
  padding: .5em;
  cursor: pointer;
}

.btn-header {
  margin: .5em 15% 2em 15%;
  color: #ffffff;
  border: 2px solid #2d9cdb;
  background-color: rgba(255, 255, 255, .1);
  border-radius: 0%;
  font-size: 1em;
  font-weight: lighter;
  padding-left: 2em;
  padding-right: 2em;
}

.btn-header:hover {
  background-color: rgba(255, 0, 0, 0.3);
}

.btn-play {
  display: block;
  margin: 0 auto;
  color: #ffffff;
  font-size: 1.5em;
  border-radius: 50%;
  padding: 0;
  width: 50px;
  height: 50px;
}

.tour-row {
  border-bottom: 1px solid;
  padding-bottom: 1em;
  margin-bottom: 1em;
}

.tour-row:last-child {
  border-bottom: none;
}

.tour-item {
  display: inline-block;
  padding-right: .5em;
  font-weight: bold;
}

.tour-date {
  color: #ffffff;
  font-size: 1.2em;
  width: 10%;
}

.tour-city {
  width: 24%;
}

.tour-arena {
  width: 42%;
}

.tour-btn {
  max-width: 19%;
}

.primary-btn {
  color: #ffffff;
  background-color: #6666ff;
  border: none;
  border-radius: .3em;
  font-weight: bold;
}

.primary-btn:hover {
  background-color: #4d4dff;
}

.shop-item {
  margin: 30px;
}

.shop-item-title {
  display: block;
  width: 100%;
  text-align: center;
  font-weight: bold;
  font-size: 0.7em;
  margin-bottom: 15px;
}

.shop-item-image {
  height: 250px;
  width: 250px;
}

.shop-item-details {
  display: flex;
  align-items: center;
  padding: 5px;
}

.shop-item-price {
  flex-grow: 1;
}

.shop-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.cart-header {
  font-weight: bold;
  font-size: 1.2em;
  color
}

.cart-column {
  display: flex;
  align-items: center;
  border-bottom: 1px solid;
  margin-right: 1.5em;
  padding-bottom: 10px;
  margin-top: 10px;
}

.cart-row {
  display: flex;
}

.cart-row:last-child {
  border-bottom: 1px solid;
}

.cart-row:last-child .cart-column {
  border: none
}

.cart-item {
  width: 45%;
}

.cart-price {
  width: 20%;
  font-size: 1.2em;
}

.cart-quantity {
  width: 35%;
}

.cart-item-title {
  margin-left: .5em;
  font-size: 1.2em;
}

.cart-item-image {
  width: 75px;
  height: auto;
  border-radius: 10px;
}

.btn-danger {
  color: #ffffff;
  background-color: #ff3333;
  border: none;
  border-radius: .3em;
  font-weight: bold;
}

.btn-danger:hover {
  background-color: #ff1a1a;
}

.cart-quantity-input {
  height: 25px;
  width: 60px;
  border-radius: 5px;
  border: 1px solid  #2d9cdb;
  background-color: #eee;
  color: #333;
  padding: 0;
  text-align: center;
  font-size: 1.2em;
  margin-right: 20px;
}

.cart-total {
  text-align: end;
  margin-top: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
}

.cart-total-title {
  font-weight: bold;
  font-size: 1.5em;
  margin-right: 20px;
  color: #ffffff
}

.cart-total-price {
  font-size: 1.3em;
  color: #ffffff;
  margin-right:20px;
}

.btn-purchase {
  font-size: 1.2em;
  margin: 5px auto;
  border: 1px solid;
}
